.formpad {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.put{
    padding-left:76%;
    padding-bottom: 30px;
}
.put1{
    padding-left:85%;
    padding-bottom: 30px;
}